*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    background-image: url(../images/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1200px;
    font-family: cursive;
}

.icon-cart{
    width: 40px;
}

img{
    width: 100%;
    height: 60%;
}

header{
    padding-bottom: 100px;
    padding-top: 50px;
}

header h1{
    float: left;
}
header svg{
    float: right;
}

.container-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.item{
    border-radius: 10px;
    background-color: #9c9c9c;
}
.info-product{
    padding: 10px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.price{
    font-size: 18px;
    font-weight: 900;
}

.item{
    width: 100%;
    height:460px;
    object-fit: cover;
}
.info-product button{
    border: none;
    background-color: black;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
}

#counter{
    text-align: center;
    float: right;
}

.clear{
    clear: both;
}